
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HeaderDiv{
    display: flex;
    padding: 20px 10%;
}


.headerLeft{
    display: flex;
    gap: 30px;
    align-items: center;
}

ul li{
    display: inline-block;
    padding-right: 20px;
}


.headerRight{
    margin-left: auto;
    display: flex;
    gap: 30px;
    align-items: center;
}